@using System.Web.Optimization
@model Cusrim.Core.ViewModels.StudentRegistration




<div class="row">
    <div class="col-md-8">
        <div>
            <img src="~/Images/student.jpg" class="register_img" />
            <div class="register_text">
                <span> <img src="~/Images/cap.png" class="small_img  mr-3" /></span>CUSRiM
                <br />
                <br /><br /><br /><br />
                <h2 class="mb-5">CREATE PROFILE, <br />SELECT COMPANY AND <br /> REACH YOUR ASSIGNED <br /> SIWES SUPERVISOR<br /></h2>
                <p>As a student you get to apply  to different companies,<br /> easy communication with your supervisor, create your cv,<br /> upload your SIWES reports weekly or monthly<p>
            </div>

        </div>
        <div>


        </div>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("RegisterUser", "Student", FormMethod.Post, new { @class = "form-signin" }))

        {
            <img class="mb-4" src="~/Images/cap.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">WELCOME BACK</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control", placeholder = "Email", required = "required", type = "email" })


            <label for="inputEmail" class="sr-only">Matric Number</label>
            @Html.TextBoxFor(m => m.Student.MatricNo, new { @class = "form-control", placeholder = "Matric Number", required = "required", })


            <label for="inputPassword" class="sr-only">Password</label>
            @Html.PasswordFor(m => m.User.password, new { @class = "form-control", placeholder = "password", required = "required" })

            @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>*@
            <div class="checkbox mb-3">
                @Html.AntiForgeryToken()
                <button class="btn w-75 text-center align_center btn-block bg_yellow" type="submit">Sign in</button>
            </div>


        }
    </div>

</div>
